label{
    color: white;
    display: block;
}
body {
    margin: 0;
    background-color: rgb(0, 100, 130);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px violet;
}
#contenedorprincipal{ 
    margin: 15px auto;
    border-radius: 40px;
    width: 70%;
    box-shadow: 2px 2px 2px rgb(78, 0, 78);
    background-color: rgb(114, 180, 255);
}
#titulo{
    color: grey;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 5px;
}
.contenedordecampo{
    margin-bottom: 20px;
    border: 1px dashed black;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.contenedordeboton{
    margin: 0 auto;
    text-align: center;
}

input{ 
    border-radius: 30px;
    background-color: rgb(208, 248, 255);
    font-size: 15px;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
}

span{
    color: white;
    margin-top: 3px;
}
select{
    width: 30%;
    height: 25px;
    border-radius: 30px;
    background-color: rgb(208, 248, 255);
    font-size: 15px;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
}
textarea{
    height: auto;
}